h6
 | #{name.first},
p
 | Quick scan of #{url} domain have been finished.
 | Complete report attached.
p
 | Feel free to ask us any questons you might have fixing your security issues.
| -
| Sincerely,
h6
 | SOFTSKY Scan Team
