body
  h4 Greetings, #{name.first}!
  p
   |Quick scan of #{url} domain has been finished.
   |Complete report attached.
  p
   |You are eligible for Online Scan 
   a(href='http://softsky.com.ua/online-scan#website/1') ROUND 1!
  p
   |Feel free to contact us asking any questons you might have fixing your security issues.
  p
   |-
   br
   |Sincerely,
   br
   strong SOFTSKY Security Audit Team
