|Greetings, #{name.first}!
|Quick scan of #{url} domain has been finished.
|Complete report attached.
|You are eligible for Online Scan ROUND 1 (http://softsky.com.ua/online-scan#website/1)!
|Feel free to contact us asking any questions you might have fixing your security issues.
|-
|Sincerely, 
|SOFTSKY Security Audit Team
