body
  h4 Greetings, #{name.first}!
  p
    |Quick scan of #{url} domain have been started. We will email your results shortly.
  p
   |-
   br
   |Sincerely,
   br
   strong SOFTSKY Security Audit Team
